body {
  background-image: url("assets/bg\ image.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(15px);
}

.container {
  width: 90%;
  max-width: 600px;
  height: auto;
  z-index: 1;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.15),
    rgba(255, 255, 255, 0.15)
  );
  border-radius: 12px;
  backdrop-filter: blur(100px);
  padding: 20px;
  box-sizing: border-box;
}

h1,
h2 {
  color: black;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 15px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.input-group input,
.input-group select {
  width: calc(100% - 10px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.button-group button,
.clear-button-group button {
  background-color: #688c94;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button-group button:hover,
.clear-button-group button:hover {
  background-color: #224651;
}

.table-container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #688c94;
  color: white;
}

td {
  color: white;
}

td button {
  background-color: #688c94;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

td button:hover {
  background-color: #224651;
}

.summary {
  background-color: rgba(255, 255, 255, 255);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.summary p {
  margin: 10px 0;
  font-size: 18px;
}

summary span {
  font-weight: bold;
}

#notification {
  background-color: #28a745;
  color: white;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.positive {
  color: #28a745; /* Green for positive balance */
}

.negative {
  color: #dc3545; /* Red for negative balance */
}
